{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ product.name }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col p-4" style="background-color: aqua;">
            <h1>{{ product.name }}</h1>
            <h2 class="text-decoration-none"><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
            <p>$ {{ product.price }}</p>

            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {% csrf_token %}
                {{ cart_product_form }}
                <input type="submit" value="{% trans 'Add to cart' %}"">
            </form>

            {{ product.description|linebreaks }}
            {% if recommended_products %}
                <div class="recommendations">
                    <h3>{% trans 'Also bought with' %}</h3>
                    {% for product in recommended_products %}
                        <div class="item">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/no_image.png' %} {% endif %}" alt="{{ product.name }} Image">
                            </a>
                            <p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col p-4" style="background-color: bisque;">
            <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/no_image.png' %} {% endif %}" alt="{{ product.name }} Image">
        </div>
    </div>
{% endblock content %}