{% extends "shop/base.html" %}
{% load static %}

{% block title %}Payment{% endblock title %}

{% block content %}
    <h1>Order Summary</h1>
    <div class="row">
        <div class="row">
            <div class="col-4">Image</div>
            <div class="col">Product</div>
            <div class="col">Price</div>
            <div class="col">Quantity</div>
            <div class="col">Total</div>
        </div>
        {% for item in order.items.all %}
        <div class="row">
            <div class="col-4"><img src="{% if item.product.image %}{{ item.product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="Product Image"></div>
            <div class="col">{{ item.product.name }}</div>
            <div class="col">{{ item.price }}</div>
            <div class="col">{{ item.quantity }}</div>
            <div class="col">{{ item.get_cost }}</div>
        </div>
        {% endfor %}
        {% if order.coupon %}
            <tr class="subtotal">
                <td>Subtotal</td>
                <td colspan="3"></td>
                <td class="num">${{ order.get_total_cost_before_discount|floatformat:2 }}</td>
            </tr>
            <tr>
                <td>"{{ order.coupon.code }}" coupon ({{ order.discount }}% off)</td>
                <td colspan="3"></td>
                <td class="num neg">- ${{ order.get_discount|floatformat:2 }}</td>
            </tr>
        {% endif %}
        <div class="row">
            <div class="col-2">Total:</div>
            <div class="col-8">$ {{ order.get_total_cost }}</div>
        </div>
    </div>
    <form action="{% url 'payment:process' %}" method="POST">
        <input type="submit" value="Pay Now">
    </form>
{% endblock content %}